<div class="main-content">
    <div class="container">

       C’est une application qui permet : <br>
        <ul>
        <li>De générer une clé secrète ou une paire de clés publique et privée,  l’algorithme et/ou la taille doit être choisi <br></li>

       <li>De chiffrer des données saisies ou se trouvant dans un fichier <br></li>

        <li>De signer des données saisies ou se trouvant dans un fichier <br></li>
        </ul>
        Quelsques concepts de base : <br><br>
    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div>Cryptographie</div>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class=""><i class="fa fa-long-arrow-up"></i>  c'est  une discipline visant à protéger les contenus de donnees  en les  chiffrant, afin de les rendre inintelligibles sans une action spécifique grâce à un système de clés symetrique et asymetrique </span> </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div>Chiffrement</div>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="r"><i class="fa fa-long-arrow-up"></i>  c'est un procédé de cryptographie grâce auquel on souhaite rendre la compréhension d'un document impossible à toute personne qui n'a pas la clé de déchiffrement. </span> </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div>Signature</div>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class=""><i class="fa fa-long-arrow-up"></i>  c'est un mécanisme permettant de garantir l'intégrité d'un document électronique et d'en authentifier l'auteur, par analogie avec la signature manuscrite d'un document papier. </span> </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>



